<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../public/client/css/main.css">
    <title> 더블유 디자인 호텔 MAIN </title>
  </head>
  <body>

    <!-- gnb -->
    <div class='gnb-wrapper'>
      <div class="gnb-container">
        <div class="gnb-event">
          <span class="event-desc"> <호텔 최저가 예약 이벤트> 총 예약 결제 금액에서 <font color="red">4%</font> 할인 </span>
          <span>
            <img src="../../public/client/images/01_main/main_event_search.png" class="event-btn">
          </span>
        </div>
        <div class='gnb-navbar'>
          <span> 호텔정보 </span>
          <span> 공지사항 </span>
          <span> 이벤트 </span>
          <span> SHOP </span>
          <span> <font color="red">회원가입</font> </span>
        </div>
      </div>
    </div>
    <!--    -->

    <!-- search bar -->
    <div class='search-bar-wrapper'>
      <div class='search-bar-container'>
        <div class="search-bar-logo">
          <img src="../../public/client/images/01_main/main_bar_logo.png" class="nav-logo">
        </div>
        <div class='search-bar-list'>

          <div class="item-wrapper" style="width:150px;">
            <div class="item-container">
              <div class="item-header">
                <div class="header-wrapper" style="align-items:center;">
                  <span> 예약 가능 객실 </span>
                  <span class="item-title">
                    <img src="../../public/client/images/01_main/main_bar_search.png" class="item-image">
                    검색
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-wrapper">
            <div class="item-container">
              <div class="item-body">
                <img src="../../public/client/images/01_main/main_bar_03.png" class="item-image">
              </div>
              <div class="item-header">
                <div class="header-wrapper" style="align-items:center;">
                  <span> 인원수 </span>
                  <span class="item-title"> 2 </span>
                </div>
              </div>
              <div class="item-body">
                <img src="../../public/client/images/01_main/main_bar_04.png" class="item-image">
              </div>
            </div>
          </div>

          <div class="item-wrapper">
            <div class="item-container">
              <div class="item-header">
                <div class="header-wrapper">
                  <span> 예약 날짜 </span>
                  <span> 2018.09.20 ~</span>
                  <span >2018.09.20</span>
                </div>
              </div>
              <div class="item-body">
                <img src="../../public/client/images/01_main/main_bar_02.png" class="item-image">
              </div>
            </div>
          </div>

          <div class="item-wrapper">
            <div class="item-container">
              <div class="item-header">
                <div class="header-wrapper">
                  <span> HOTEL BRAND </span>
                  <span class="item-title">호텔 선택</span>
                </div>
              </div>
              <div class="item-body">
                <img src="../../public/client/images/01_main/main_bar_01.png" class="item-image">
              </div>
            </div>
          </div>

          <!-- 호텔 선택 -->

        </div>
      </div>
    </div>

    <!--  -->


  </body>
</html>
