<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../public/client/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../../public/client/css/common.css">
  	<link rel="stylesheet" href="../../public/client/css/pay.css">
    <link rel="stylesheet" href="../../public/client/css/gnb.css">
    <link rel="stylesheet" href="../../public/client/css/search-bar.css">
    <link rel="stylesheet" href="../../public/client/css/footer.css">
    <link rel="stylesheet" href="../../public/client/vendor/slick/slick.css">
    <script src="../../public/client/vendor/slick/slick.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title> 더블유 디자인 호텔 MAIN </title>
	</head>
	<body>
    <!-- gnb -->
    <div class='gnb-wrapper'>
      <div class="gnb-container">
        <div class="gnb-event">
          <span class="event-desc"> <호텔 최저가 예약 이벤트> 총 예약 결제 금액에서 <font color="red">4%</font> 할인 </span>
          <span>
            <img src="../../public/client/images/01_main/main_event_search.png" class="gnb-event-btn">
          </span>
        </div>
        <div class='gnb-navbar'>
          <span class="my_page">강병욱님 / MY PAGE</span>
          <span class="my_point">포인트 3,000P</span>
          <span> 호텔정보 </span>
          <span> 공지사항 </span>
          <span> 이벤트 </span>
          <span> SHOP </span>
          <span> <font color="red">회원가입</font> </span>
        </div>
      </div>
    </div>
    <!--    -->

    <!-- search bar -->
    <div class='search-bar-wrapper'>
      <div class='search-bar-container'>
        <div class="search-bar-logo">
          <img src="../../public/client/images/01_main/main_bar_logo.png" class="nav-logo">
        </div>
        <div class='search-bar-list'>

          <!-- 호텔 선택 -->
          <div class='section hotel' style="border-left: 1px solid #888888;">
            <div class='title'>
              <span> HOTEL BRAND </span>
            </div>
            <div class='content'>
              <div id="target_hotel">
                <span id="target_hotel_name">호텔 선택</span>
                <img id="select_hotel" src="../../public/client/images/01_main/main_bar_01.png" class="btn-image">
              </div>
            </div>
            <div id="hotel_list" class="hotel-select">
              <span> something 1 </span>
              <span> something 21 </span>
              <span> something 31 </span>
              <span> something 41 </span>
            </div>
          </div>

          <!-- 호텔선택 -->
          <div class='section date'>
            <div class='title'>
              <span> 예약 날짜 </span>
            </div>
            <div class='content' >
              <span style="font-size:1rem;display:inline-block;line-height: 1.2rem;"> <span id="startDate">2018-09-20 </span> ~ </br> <span id="endDate"> 2018-09-21 </span> </span>
              <img id="dates" src="../../public/client/images/01_main/main_bar_02.png" class="btn-image">
              <script type="text/javascript">
                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
                var nowTemp2 = new Date(nowTemp.setDate(nowTemp.getDate()+1));
                var now2 = new Date(nowTemp2.getFullYear(), nowTemp2.getMonth(), nowTemp2.getDate(), 0, 0, 0, 0);
                $('#dates').daterangepicker({
                    "showISOWeekNumbers": true,
                    "timePicker24Hour": true,
                    "autoApply": true,
                    "locale": {
                        "format": "YYYY-MM-DD",
                        "separator": "  ~  ",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "From",
                        "toLabel": "To",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                            "일",
                            "월",
                            "화",
                            "수",
                            "목",
                            "금",
                            "토"
                        ],
                        "monthNames": [
                            "1월",
                            "2월",
                            "3월",
                            "4월",
                            "5월",
                            "6월",
                            "7월",
                            "8월",
                            "9월",
                            "10월",
                            "11월",
                            "12월"
                        ],
                        "firstDay": 1
                    },
                    "startDate":now,
                    "endDate": now2,
                    "minDate": now
                },
                function(start, end, label) {
                  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                  $("#startDate").text(start.format('YYYY-MM-DD'));
                  $("#endDate").text(end.format('YYYY-MM-DD'));
                });
              </script>
            </div>
          </div>

          <!-- 인원수 -->
          <div class='section count'>
            <div class='title'>
              <span> 인원수 </span>
            </div>
            <div class='content'>
              <img id="count_down" src="../../public/client/images/01_main/main_bar_03.png" style="margin-right:30px;" class="btn-image">
              <input id="count_val" class="input-search" type="number" name="" value="1"></input>
              <img id="count_up" src="../../public/client/images/01_main/main_bar_04.png" style="margin-left:30px;" class="btn-image">
            </div>
          </div>

          <!-- 검색 -->
          <div class='section search'>
            <div class='title'>
              <span> 예약 가능 객실 </span>
            </div>
            <div class='content' style="cursor:pointer;">
              <img src="../../public/client/images/01_main/main_bar_search.png" class="btn-image">
              <span> 검색 </span>
            </div>
          </div>

          <script type="text/javascript">
            $("#count_down").click( function() {
              var cur_val = Number($("#count_val").val());
              if(cur_val <= 1) return false;
              $("#count_val").val( cur_val - 1 );
            });

            $("#count_up").click( function() {
              var cur_val = Number($("#count_val").val());
              $("#count_val").val( cur_val + 1 );
            });

            $("#select_hotel").click( function() {
              $("#hotel_list").toggle();
            });

            $("#hotel_list span").click( function(e) {
              console.log($(e.target).text());
              $("#target_hotel_name").text($(e.target).text());
              $("#hotel_list").hide();
            });

          </script>

        </div>
      </div>
    </div>

    <!--  -->
		<div class="pay">
		    <div class="pay_banner">
                <div class="pay_wrapper">
		          <div class="pay_logo">예 약 하 기</div>
		        </div>
		    </div>
            <div class="pay_content">
                <div class="pay_content_wrapper">
                    <div class="pay_list">
                        <div class="pay_room">
                            <div class="pay_room_pic" style="background-image: url(('../../public/client/images/06_hotel_page/hotel-2331757_1920.jpg');"></div>
                            <div class="pay_room_info">
                                <div class="pay_room_name">패밀리 트윈 오션뷰</div>
                                <div class="pay_hotel_name">광안 하운드 호텔</div>
                                <div class="divider" style="background-image: url('../../public/client/images/08_pay/pay_line.png')"></div>
                                <div class="pay_checktime">
                                    <div class="pay_clock" style="background-image: url('../../public/client/images/08_pay/py_clock.png');"></div>
                                    <div class="pay_time">체크인  &nbsp;&nbsp;&nbsp; : 16:00~<br>
                                    체크아웃 : ~12:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="pay_text">
                            <div class="extra_head" style="background-image: url('../../public/client/images/08_pay/pay_line.png')"></div>
                            <p>필수 입력사항</p>
                            <div class="pay_name">
                                <div class="p_name">예약자명</div>
                                <input type="text" class="p_input" />
                                <div class="p_tip">예약자명은 실명을 기입해 주세요.</div>
                            </div>
                            <div class="pay_name">
                                <div class="p_name">휴대전화</div>
                                <input type="text" class="p_input" />
                                <div class="p_tip">예약 관련 안내받을 전화번호입니다.</div>
                            </div>
                        </div>
                        <div class="pay_extra">
                            <div class="extra_head" style="background-image: url('../../public/client/images/08_pay/pay_line.png')"></div>
                            <p>추가 결제</p>
                            <div class="extra_img" style="background-image: url('../../public/client/images/06_hotel_page/hotel-2331757_1920.jpg');"></div>
                            <div class="extra_select">
                                <div class="extra_menu">조식 추가 (1인 1개)</div>
                                <div class="extra_menu2">자세한 조식 시간은 해당 호텔 정보를 확인 해 주시기 바랍니다.</div>
                                <div class="extra_input">
                                    <input type="button" value="-" id="minus" onclick="minus()">
                                    <input type="text" size="25" value="0" id="extra_count">
                                    <input type="button" value="+" id="plus" onclick="plus()">
                                </div>
                            </div>
                        </div>
                        <div class="pay_point">
                            <div class="extra_head" style="background-image: url('../../public/client/images/08_pay/pay_line.png')"></div>
                            <p> 포인트 / 쿠폰</p>
                            <div class="pay_name">
                                <div class="p_name" style="text-align: le">포인트 사용</div>
                                <input type="text" class="p_input" value="0" id="pay_point_input"/>
                                <div class="p_button" style="background-image: url('../../public/client/images/08_pay/pay_alluse.png')"></div>
                                <div class="p_use">
                                    사용 ( <span style="color:#ff6666">3000p</span> 보유)
                                </div>
                            </div>
                            <div class="pay_usetip">*1,000원 이상부터 사용 가능</div>
                            <div class="pay_name">
                                <div class="p_name">쿠폰 사용&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <input type="text" class="p_input" value="0" id="pay_point_input"/>
                                <div class="p_button" style="background-image: url('../../public/client/images/08_pay/pay_coupon.png')"></div>
                                <div class="p_use">
                                    사용 ( <span  style="color:#ff6666">0장</span>  사용 가능 쿠폰)
                                </div>
                            </div>
                            <div class="pay_usetip">*쿠폰은 유효기간 및 해당 지점에 사용 가능 여부를 확인 하시기 바랍니다.</div>
                        </div>
                        <div class="pay_cancel">
                            <div class="extra_head" style="background-image: url('../../public/client/images/08_pay/pay_line.png')"></div>
                            <p> 취소 환불 규정 / 이용 약관 등</p>
                            <div class="pay_policy">
                                   <div class="policy_wrapper">
                                        <div class="policy_head">취소/환불 규정 보기</div>
                                        <div class="policy_button">전문보기 <i class="fas fa-chevron-down fa-xs"></i></div>

                                        <p class="policy_text" id="policy[1]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        </p>
                                    </div>
                                </div>
                                <div class="pay_policy">
                                   <div class="policy_wrapper">
                                        <div class="policy_head">개인정보 수집 / 이용 약관 보기</div>
                                        <div class="policy_button">전문보기 <i class="fas fa-chevron-down fa-xs"></i></div>

                                        <p class="policy_text" id="policy[2]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        </p>
                                    </div>
                                </div>
                                <div class="pay_policy">
                                   <div class="policy_wrapper">
                                        <div class="policy_head">개인정보 제3자 제공 약관</div>
                                        <div class="policy_button">전문보기 <i class="fas fa-chevron-down fa-xs"></i></div>

                                        <p class="policy_text" id="policy[3]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repellendus sed alias dolores voluptatum eligendi officia nam amet recusandae expedita explicabo maiores quo veritatis voluptates saepe, enim, suscipit, laudantium consectetur!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay_bill">
                        <div class="bill_checktime">
                            <div class="bill_check" id="bill_checkin">
                                <div class="check_desc">체크인</div>
                                <div class="checkdate">
                                    <i class="far fa-calendar-alt"></i>2018-09-10
                                </div>
                            </div>
                            <div class="checkicon" style="background-image: url('../../public/client/images/08_pay/pay_arrow.png')"></div>
                            <div class="bill_check">
                                <div class="check_desc">체크아웃</div>
                                <div class="checkdate">
                                    <i class="far fa-calendar-alt"></i>2018-09-10
                                </div>
                            </div>
                        </div>
                        <div class="bill_pd">
                            <div class="bill_p">
                                <span>총 이용기간</span>
                                <span>1박 2일</span>
                            </div>
                            <div class="bill_p">
                                <span>총 인원</span>
                                <span>2명</span>
                            </div>
                        </div>
                        <div class="bill_total">
                            <div class="bill_t">
                                <span>총 예약 금액</span>
                                <span>163,200원</span>
                            </div>
                            <div class="bill_t">
                                <span>총 부대물품 금액</span>
                                <span>0원</span>
                            </div>
                            <div class="bill_t">
                                <span>포인트 할인</span>
                                <span>0원</span>
                            </div>
                            <div class="bill_t">
                                <span>쿠폰 할인</span>
                                <span>0원</span>
                            </div>
                            <hr>
                            <div class="total_price">
                                <p>총 결제금액</p>
                                <p>163,200원</p>
                            </div>
                        </div>
                        <div class="total_payment">

                            <div class="payment">신용카드 결제</div>
                            <div class="payment">무통장 입금(준비중)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

				<!-- footer -->
				<div class="footer">
					<div class="footer-wrapper">
						<div class="footer-logo">
							<img src="../../public/client/images/01_main/main_botton_logo.png" class="footer-logo-img">
						</div>
						<div class="footer-content">
							<div class="footer-content-title">
								&nbsp;호텔 프렌차이즈 사업문의
							</div>
							<div class="footer-content-contact">
								1877-1318 &nbsp;
								<span> <img src="../../public/client/images/01_main/main_icon_blog.png" class=""> </span>
								<span> <img src="../../public/client/images/01_main/main_icon_face.png" class=""> </span>
								<span> <img src="../../public/client/images/01_main/main_icon_insta.png" class=""> </span>
								<span> <img src="../../public/client/images/01_main/main_icon_map.png" class=""> </span>
							</div>

							<div class="footer-content-company-info">
								대표자: 이승훈 사업장 소재지: 부산광역시 해운대구 우동 1410 트럼프월드마린 D동 상가 2F 208, 209호 사업자 등록번호: 823-86-00673<br>
								개인정보관리책임자: 이승훈 팩스번호: 051-921-0051 프렌차이즈 사업 문의: 1877-1318 평일 10:00~19:00 (토/일/공휴일휴무)<br>
								이메일: lsr@wnthotels.com official web: www.wnh.co.kr
							</div>
						</div>
						<div class="footer-extra">
							<img id="footer_list_btn" src="../../public/client/images/01_main/main_tab_number.png" class="footer-extra-contact-btn">
							<div class="footer-extra-service">
								<span style="cursor:pointer;">서비스 이용약관 보기</span>
								<br>
								<span style="cursor:pointer;">개인정보 처리 약관 보기</span>
							</div>
              <div id="footer_list" class="footer-list">
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
                <span>광안 하운드: 000-000-0000</span>
                <span>나포 하운드 프리미엄 호텔: 000-000-0000</span>
              </div>
						</div>
            <script type="text/javascript">
              $("#footer_list_btn").click( function() {
                $("#footer_list").toggle();
              })
            </script>
					</div>
				</div>

				<!--  -->
	</body>
	<script>
        var extra_count = 0;
        var extra_countEl = document.getElementById("extra_count");
			    function plus(){
			        extra_count++;
			        extra_countEl.value = extra_count;
			    }
			    function minus(){
			      if (extra_count > 0) {
			        extra_count--;
			        extra_countEl.value = extra_count;
			      }
			    };

        $(".policy_button").click( function(e) {

          if($(e.target).siblings('.policy_text').is(":visible")){
              $(e.target).find('i').addClass('fa-chevron-down').removeClass('fa-chevron-up');

          }
          else {
              $(e.target).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
          }
          $(e.target).siblings('.policy_text').toggle();
        })


        function ListShow(text, num, forlen) {
            for (i=1; i<=forlen; i++) {
                div_id = text+"["+i+"]";
                obj = document.getElementById(div_id);
                if (i==num)	{divcatch(obj,1);}
                if (i!=num)	{divcatch(obj,2);}
                }
                }

        function divcatch(obj, o_type) {
            if(o_type == 1) {
            obj.style.display = "block";
            } else {
            obj.style.display = "none";
            }
          }

        </script>
</html>
