.event {
  border-top: 1px solid white;
}

.event-title {
  background: black;
  height: 300px;
  position: relative;
}

.event-title-img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event-main-list-img{
  width: 100%;
}

.event-main {
  width: 1200px;
  margin: 50px auto;
  display: table;
}

.event-main-list {
  display: inline-table;
  width: 375px;
  margin-right: 30px;
  margin-bottom: 100px;
}

.event-main-list:nth-child(3n) {
  margin-right: 0;
}

.event-main-list-desc {
  font-weight: 600;
  font-size: 1.3rem;
}

.event-more-btn {
  width: 1200px;
  margin : auto;
  background: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 100px;
  cursor: pointer;
}
