
.footer {
  width: 1200px;
  margin: auto;
  border-top: 1px solid black;
  margin: 20px auto;
}

.footer-wrapper {
  display: table;
  width: 100%;
}

.footer-logo {
  display:table-cell;
  vertical-align: middle;
  width: 200px;
}

.footer-logo img {
  vertical-align: middle;
}

.footer-content {
  border-right: 1px solid black;
  display:table-cell;
  vertical-align: middle;
  width: 800px;
}

.footer-content-title {
  font-size:0.9rem;
  line-height:0.8rem;
  font-weight: 300;
}

.footer-content-contact {
  font-size: 2.3rem;
  font-weight: bold;
}

.footer-content-company-info {
  font-size:0.8rem;
  line-height: 1.3rem;
  font-weight: 300;
}

.footer-extra {
  padding: 40px 10px;
  margin: auto 10px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.footer-extra-contact-btn {
  cursor: pointer;
}

.footer-extra-service {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
}

.footer-list {
  position: absolute;
  background: white;
  bottom: 145px;
  right: 15px;
  width: 300px;
  display: none;
}

.footer-list span {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  border: 1px solid transparent;
  text-align: left;
}

.footer-list span:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
