
.footer {
  width: 1080px;
  margin: auto;
  border-top: 1px solid black;
  margin: 20px auto;
}

.footer-wrapper {
  display: flex;
}

.footer-logo {
  display:flex;
  align-items: center;
  padding: 30px 0;
}

.footer-content {
  border-right: 1px solid black;
  padding: 40px 0;
  width:900px;
}

.footer-content-title {
  font-size:0.9rem;
  line-height:0.8rem;
}

.footer-content-contact {
  font-size: 2.3rem;
  font-weight: bold;
}

.footer-content-company-info {
  font-size:0.75rem;
  line-height: 1.3rem;
}

.footer-extra {
  padding: 40px 10px;
  margin: auto 10px;
  display:flex;
  flex-direction:column;
  position: relative;
}

.footer-extra-contact-btn {
  cursor: pointer;
}

.footer-extra-service {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
}

.footer-list {
  position: absolute;
  background: white;
  bottom: 140px;
  right: 10px;
  width: 300px;
  display: none;
}

.footer-list span {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  border: 1px solid transparent;
}

.footer-list span:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
