.gnb-wrapper {
  width:100%;
}

.gnb-container {
  width: 1200px;
  padding: 5px 0;
  margin: 3px auto;
  display: table;
}

.gnb-event {
  width: 590px;
  display: table-cell;
  border-right: 1px solid #555555;
  padding: 5px 0;
}

.gnb-event .event-desc {
  font-weight: 600;
  font-size: 0.9rem;
  display: inline-block;
}

.gnb-event .event-btn {
  cursor: pointer;
  float: right;
  margin-right: 30px;
}

.gnb-event .event-btn .arrow-down {
  width: 0.8rem;
}

.gnb-navbar {
  display: table;
  width: 100%;
}

.gnb-navbar span {
  display: table-cell;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.7rem;
  padding: 0 5px;
  cursor: pointer;
  text-align: right;
}

.gnb-event-btn {
  cursor: pointer;
  float: right;
  margin-right: 30px;
  background: black;
  color : white;
  cursor: pointer;
}
