

/* ///////////////////////////////// */

.main1 {
  /* height: 600px; */
  /* height: 600px; */
  /* display: flex; */
}

.main1_image {
  /* padding-bottom: 700px; */
  /* background-image: url('../images/main_sample1.jpg'); */
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.main1_desc_wrapper {
  width: 100%;
  display: flex;
  height: 700px;
}

.main1_header {
  width: 1080px;
  margin: auto;
  margin-top: 150px;
  padding-left: 100px;
}

.main1_header span {
  display: block;
}

.main1_header .title {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

.main1_header .sub-title {
  color: black;
  font-size: 2rem;
}

.main1_header .desc {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 10px 0;
}

.event-btn {
  position: absolute;
  bottom: 35%;
  padding: 3px 40px;
  background: black;
  color : white;
  left: 350px;
  cursor: pointer;
}

.main1-event-btn {
  position: absolute; */
  /* bottom: 35%; */
  width: 50px;
  padding: 0px 40px;
  background: black;
  color: white;
  margin-top: 70px;
  font-weight: bold;
  cursor: pointer;
}

.main2 {
  width: 1080px;
  margin: auto;
  display: flex;
}

.main2 .region-image {
  flex: 1;
  margin: 1px;
  padding-bottom: 80px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: 100% 80px;
}

.main3 {
  width: 1080px;
  margin: 50px auto;
  display: flex;
  height: 325px;
}

.main3 .event-info {
  flex: 1;
  border: 1px solid #d3d3d3;
  display: flex;
}

.main3 .event-video {
  flex : 2;
}

.event-wrapper {
  margin: 30px 20px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
}

.main3-event-btn {
  width: 50px;
  text-align: center;
  padding: 0px 40px;
  background: black;
  color : white;
  cursor: pointer;
  font-weight: bold;
}

.event-body {
  margin: auto;
  padding-top: 20px;
  padding-left: 10px;

}

.event-body span {
  display: block;
}

.main3-event-title {
  font-weight: 600;
  color: black;
  font-size: 1.5rem;
  margin-top: 10px;
  letter-spacing: 2px;
  line-height: 2rem;
}

.main3-event-desc {
  margin-top: 20px;
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: gray;
}

.main3-event-more {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: right;
  padding-top: 30px;
  cursor: pointer;
}

.event-video {
  padding: 5px 20px;
}

.main4 {
  width: 1080px;
  margin: auto;
}

.middle-sub-logo {
  padding : 20px 0;
}

.main4-desc {
   text-align: center;
   /* color: gray; */
   line-height: 1.8rem;
   padding-bottom: 40px;
   font-weight: 300;
}

.main5, .main6, .main7 {
  width: 1080px;
  margin: auto;
  margin-bottom: 50px;
}

.main5-header {
  border-bottom: 1px solid #d3d3d3;
  margin: 20px 0;
}

.main5-btn {
  /* width: 200px; */
  padding: 0px 15px;
  background: black;
  color: white;
  letter-spacing: 2px;
}

.main5-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main5-body .main5-list {
  width: 24%;
  background-color: #f8f8f8;
  padding-bottom: 10px;
}

.main5-list-wrapper {
  padding: 10px;
}

.main5-list-title {
  border-bottom: 2px solid gray;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.main5-list-image {
  height: 200px;
  display: flex;
}

.main5-list-address {
  padding-bottom: 10px;
  color: gray;
  font-size: 0.85rem;
  font-weight: 300;
  display: flex;
}

.main5-list-address img {
  width: 14px;
  height: 17px;
  margin-right: 5px;
}

.view-more-btn {
  margin-left: 10px;
  cursor: pointer;
}

/* ///////////////////////////// */

.main7-list-wrapper {
  display: flex;
}

.main7-list {
  flex: 1;
  padding: 0 20px;
}

.main7-list-image {
  display:flex;
}

.main7-list-image .main7-logo {
  margin: 30px auto;
}

.main7-list .desc-wrapper .desc-title{
  text-align:center;
  padding-bottom:5px;
}

.main7-list .desc-more-btn-container {
  display:flex;
  padding-bottom: 10px;
}

.main7-list .desc-more-btn-container .desc-more-btn{
  margin: auto;
  cursor: pointer;
}

.main7-list .desc-wrapper .desc-body {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 10px;
  border-top: 1px solid black;
}
