
.search-bar-wrapper {
  background-color: #000000;

}

.search-bar-logo {
  display: table-cell;
  vertical-align: middle;
}

.search-bar-container {
  width: 1200px;
  margin: auto;
  display: table;
}

.nav-logo {
  vertical-align: middle;
}

.search-bar-list {
  display: table;
  width: 100%;
}

.search-bar-list .section {
  /* border-left: 1px solid white; */
  border-right: 1px solid #888888;
  display: table-cell;
}

.section.search {
  width: 60px;
}

.section.count {
  width: 80px;
}

.section.date {
  width: 80px;
  padding-bottom: 5px;
}

.section.hotel {
  width: 80px;
  position: relative;
}

.hotel-select {
  background: black;
  color: #d6d6d6;
  text-align: center;
  display: none;
  z-index: 10;
  position: absolute;
  left: 0;
  width: 100%;
  top: 75px;
}

.hotel-select span {
  display: block;
  color: #d6d6d6;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

.hotel-select span:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.search-bar-list .section .title {
  color: #d6d6d6;
  text-align: center;
  margin-top: 7px;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.search-bar-list .section .content {
  color: #e4e4e4;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 300;
  display: table;
  width: 100%;
  position: relative;
}

#target_hotel {
  display: table-cell;

}

#target_hotel_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  display: inline-block;
  margin: auto;
}

#select_hotel {
  position: absolute;
  top: 10px;
  right: 30px;
}

#dates {
  position: absolute;
  top: 5px;
  right: 30px;
}

.search-bar-list .section .content .input-search {
  text-align: center;
  vertical-align: middle;
  width: 60px;
  font-size: 1.3rem;
  background : transparent;
  color: #e4e4e4;
  border: 0;
}

.search-bar-list .section .content .btn-image {
  vertical-align: middle;
  cursor: pointer;
}

input[type=number]:hover, input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
